body{
    background-color: gray;
}
.row{
    display: block;
    margin-left: 3px;
}
#container{
    position: absolute;
    top: 200px;
    left:600px;
    width: 330px;
    height: 390px;
    background-color: rgb(161, 219, 200);
    border-radius: 5px;
}
button{
    padding: 20px;
    color: aliceblue;
    background-color: rgb(14, 82, 82);
    border-radius: 3px;
    border-style: none;
    width: 70px;
    margin: 3px;
}
p{
    width: 220px;
    border: 1px solid rgb(99, 90, 90);
    height: 53px;
    margin-left: 3px;
    overflow: hidden;
    font-size: 20px;

}
#clear{
    position: absolute;
    top: 45px;
    left: 243px;
}
.heading{
    text-align: center;
    margin-top: 10px;
}